@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.big-container {
  width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 400;
  text-align: center;
  margin: 0;
  flex-direction: column;
  min-height: 100%;
}

.main-header {
  color: #000000;
  text-align: left;
  display: flex;
 }

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 20;
}

.logo {
  margin-left: 70px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  justify-content: space-around;
  max-width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  max-width: 270px;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}


.navigation-link {
  color: #000000;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  }

.number-of-likes {
  color: #ffffff;
  background-color: #7bd54f;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

.wanted-button {
  color: #ffffff;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.main-container{
  flex-grow: 1;
}

.hero {
  background: url("../images/header/steps.svg") no-repeat bottom, url("../images/header/index-background.jpg") no-repeat top;
  background-size: 100% auto, cover;
}

.advantages-title {
  margin-top: 70px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-reasons-view {
  margin-top: 25px;
  margin-bottom: 70px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

  .advantages-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
  }

.real-town {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  height: 385px;
  color: #ffffff;
  background-color: #83b3d3;
}

.small-area, .few-tourists {
  background: rgba(131, 179, 211, 0.12);
  display: flex;
  width: 400px;
  height: 385px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.nice-road {
  background: rgba(131, 179, 211, 0.2);
  display: flex;
  width: 400px;
  height: 385px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.devil-bridge {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 1200px;
  height: 385px;
  color: #ffffff;
  background-color: #83b3d3;
}

.advantages-item-accent {
  display: flex;
  margin-top: 102px;
  width: 400px;
  height: 385px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-reason-accent {
  display: flex;
  margin-bottom: 102px;
}

.advantages-reason {
  align-self: flex-end;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
}

.advantages-reasons-view {
color: #333333;
}


.infrastructure-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.infrastructure-reasons-view {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.infrastructure-list {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  list-style-type: none;
}

.infrastructure-reason {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-transform: none;
}

.accommodation, .souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
}


.invitation-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.invitation-reasons-view {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}


.subscribe {
  background: url("../images/footer/landscape-blure.jpg") no-repeat #83b3d3;
  background-size: cover;
}

.subscribe-title {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.no-spam {
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.networks{
  list-style-type: none;
}

.subscribe-button{
  font-family: inherit;
  background-color: #83b3d3;
}
.phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.search {
  background: url("../images/hotels/hotels-background.jpg") no-repeat top;
  background-size: cover;
  color: #ffffff;
}

.inner-header-title {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.hotels-filter-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.hotels-filter-group {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  }

.field {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.field-price {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.select-result{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.viewer, .sedona-hotels {
  list-style-type: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-type, .hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-button {
  font-family: inherit;
  color: #ffffff;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.hotel-card-put-button{
  font-family: inherit;
  color: #ffffff;
  background-color: #83b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.hotel-card-putted-button {
  font-family: inherit;
  color: #ffffff;
  background-color: #7bd54f;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
}

.pagination {
  list-style-type: none;
}

.pagination-link {
  background-color: #83b3d3;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.subscribe-title-hotels {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.no-spam-hotels {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.your-email {
    font-family: inherit;
    color: rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
