@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }


body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: black;
    background-color: #82B3D3;
    font-weight: 400;
    text-align: center

  }

.main-header {
  color: black;
  background-color: white;
  }

.navigation-link {
  color: black;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  }

.number-of-likes {
  color: white;
  background-color: #7DB54F;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}

.wanted-button {
  color: white;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

}

.main-index {
  background-image: url("../images/header/index-background.jpg");
  background-size: auto;
  background-repeat: no-repeat;

}

.advantages-title, .infrastructure-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-reasons-view, .infrastructure-reasons-view {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.advantages-item, .infrastructure-list {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-accent, .advantages-reason-accent {
  color: white;
}

.advantages-reason, .infrastructure-reason {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
}

.invitation-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.invitation-reasons-view {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscribe-title {
  color: white;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.no-spam {
  color: white;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.phone {
  color: black;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
